﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Report_Weekly_Mail.aspx.cs" Inherits="Reports_Report_Weekly_Mail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="lblUploadSuccessfully" runat="server" Font-Bold="True" 
                            Font-Size="Larger" ForeColor="Red"></asp:Label>
    </div>
    </form>
</body>
</html>
