﻿<%@ Page Title="" Language="C#" MasterPageFile="../MainPage.master" AutoEventWireup="true" CodeFile="tab_Check.aspx.cs" Inherits="master_forms_tab_Check" %>
<%--<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>--%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


<asp:scriptmanager id="ScriptManager1" runat="server" enablepartialrendering="true"> </asp:scriptmanager>
<%--<cc1:toolkitscriptmanager runat="server" EnableScriptGlobalization="true" EnableScriptLocalization="true"
                ID="ScriptManager1" EnablePartialRendering="true">
            </cc1:toolkitscriptmanager>--%>
  <%--<asp:UpdatePanel ID="UpdatePanel1" runat="server">
    <ContentTemplate>--%>



<div class="panel panel-white">
     <div class="panel-body">
        <div role="tabpanel" id="Tab_Check">
             <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#tab25" role="tab" data-toggle="tab">Tab 1</a></li>
                <li role="presentation"><a href="#tab26" role="tab" data-toggle="tab">Tab 2</a></li>
                <li role="presentation"><a href="#tab27" role="tab" data-toggle="tab">Tab 3</a></li>
                <li role="presentation"><a href="#tab28" role="tab" data-toggle="tab">Tab 4</a></li>
            </ul>
            <div class="tab-content">
                
                    <div role="tabpanel" class="tab-pane active fade in" id="tab25">
                    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        <ContentTemplate>
                            <asp:DropDownList ID="DropDownList1" runat="server"  AutoPostBack="true" onselectedindexchanged="DropDownList1_SelectedIndexChanged">
                                <asp:ListItem Value="One" Text="One"></asp:ListItem>
                                <asp:ListItem Value="Two" Text="Two"></asp:ListItem>
                            </asp:DropDownList>
                            <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                        </ContentTemplate>                            
                    </asp:UpdatePanel>  
                    </div>
                
                
                
                     <div role="tabpanel" class="tab-pane fade" id="tab26">
                         <asp:UpdatePanel ID="UpdatePanel3" runat="server">
                            <ContentTemplate>
                                <asp:DropDownList ID="DropDownList2" runat="server" AutoPostBack="true"
                                     onselectedindexchanged="DropDownList2_SelectedIndexChanged">
                                    <asp:ListItem Value="One" Text="One"></asp:ListItem>
                                    <asp:ListItem Value="Two" Text="Two"></asp:ListItem>
                                    <asp:ListItem Value="Three" Text="Three"></asp:ListItem>
                                </asp:DropDownList>
                            
                             
                             <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                             </ContentTemplate>                            
                        </asp:UpdatePanel>
                        
                         
                     </div>
                 
                 <div role="tabpanel" class="tab-pane fade" id="tab27">
                 <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                 </div>
                 
                 <div role="tabpanel" class="tab-pane fade" id="tab28">
                 </div>
            </div>
        </div>
     </div>
</div>


<%--</contenttemplate> 
     
</asp:UpdatePanel>--%>

</asp:Content>

