<%@ Page Title="" Language="C#" MasterPageFile="~/MainPage.master" AutoEventWireup="true" CodeFile="Report_Closing_Statement.aspx.cs" Inherits="Reports_Report_Closing_Statement" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


<script type="text/javascript">
    function SaveMsgAlert(msg) {
        alert(msg);
    }
</script>

   <script type="text/javascript">
    //On UpdatePanel Refresh
    var prm = Sys.WebForms.PageRequestManager.getInstance();
    if (prm != null) {
        prm.add_endRequest(function(sender, e) {
            if (sender._postBackSettings.panelsToUpdate != null) {
                $('.date-picker').datepicker({ format: 'dd/mm/yyyy' });
                $('.js-states').select2();
            }
        });
    };
</script>




<div class="page-breadcrumb">
    <ol class="breadcrumb container">
       <h4><li class="active">Closing Stock Details</li></h4> 
    </ol>
</div>


<div id="main-wrapper" class="container">
 <div class="row">
    <div class="col-md-12">        
            <div class="col-md-9">
			<div class="panel panel-white">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h4 class="panel-title">Closing Stock Details</h4>
				</div>
				</div>
				<form class="form-horizontal">
				<div class="panel-body">
					
				 <div class="col-md-12">
					    <div class="row">
					        <div class="form-group col-md-3">
					        <label for="exampleInputName">Prod.In KGs</label>
					        <asp:TextBox ID="txtProdInKGs" class="form-control" runat="server" Text="0.00"></asp:TextBox>
                               
					        </div>
					        <div class="form-group col-md-3">
					        <label for="exampleInputName">Spare Cost/KGs</label>
					        <asp:TextBox ID="txtSpareCostPerKGs" class="form-control" runat="server" Text="0.00"></asp:TextBox>
                               
					        </div>
					        <div class="form-group col-md-3">
					        <label for="exampleInputName">Packing Cost/KGs</label>
					        <asp:TextBox ID="txtPackCostPerKGs" class="form-control" runat="server" Text="0.00"></asp:TextBox>
                               
					        </div>
					        <div class="form-group col-md-3">
					        <label for="exampleInputName">Fuels/KGs</label>
					        <asp:TextBox ID="txtFuelsPerKGs" class="form-control" runat="server" Text="0.00"></asp:TextBox>
                               
					        </div>
				        </div>
		        </div>	       
					      
					       
					    <div class="col-md-12">
					    <div class="row">
					       <div class="form-group col-md-3">
					        <label for="exampleInputName">Alter/Erection</label>
					        <asp:TextBox ID="txtAlterErection" class="form-control" runat="server" Text="0.00"></asp:TextBox>
                               
					        </div>
					        
					        <div class="form-group col-md-3">
					        <label for="exampleInputName">Machinery</label>
					        <asp:TextBox ID="txtMachinery" class="form-control" runat="server" Text="0.00"></asp:TextBox>
                               
					        </div>
					        
					        <div class="form-group col-md-3">
					        <label for="exampleInputName">Civil</label>
					        <asp:TextBox ID="txtCivil" class="form-control" runat="server" Text="0.00"></asp:TextBox>
                               
					        </div>
					        
					        <div class="form-group col-md-3">
					        
					            <label for="exampleInputName">From Date</label>
					            <asp:TextBox ID="txtFromDate" MaxLength="20" class="form-control date-picker" runat="server" AutoComplete="off"></asp:TextBox>
                                <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtenderFromDate" runat="server" FilterMode="ValidChars" FilterType="Custom,Numbers"
                                    TargetControlID="txtFromDate" ValidChars="0123456789./">
                                </cc1:FilteredTextBoxExtender>
					        </div>
					        
					        </div>
					        </div>
					        
					        <div class="col-md-12">
					    <div class="row"> 
					        <div class="form-group col-md-3">
					            <label for="exampleInputName">To Date</label>
					            <asp:TextBox ID="txtToDate" class="form-control date-picker" runat="server" AutoComplete="off"></asp:TextBox>
                                <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtenderToDate" runat="server" FilterMode="ValidChars" FilterType="Custom,Numbers"
                                    TargetControlID="txtToDate" ValidChars="0123456789./">
                                </cc1:FilteredTextBoxExtender>
					        </div>
					        <div class="form-group col-md-3">
					        </br></br>
					      <asp:CheckBox ID="ChkWithDet" runat="server" />Details  
					      </div>
					    </div>
					</div>
					
					<div class="clearfix"></div>
					<div class="form-group row"></div>	
                    <!-- Button start -->
                    <div class="txtcenter">
                    
                    <asp:Button ID="btnSaveDet" class="btn btn-success"  runat="server" 
                            Text="Save Details" onclick="btnSaveDet_Click" />
                    
                        <asp:Button ID="btnReports" class="btn btn-success"  runat="server" 
                            Text="Report" onclick="btnReports_Click" />
                     
                        <asp:Button ID="btnClear" class="btn btn-success" runat="server" Text="Clear" 
                            onclick="btnClear_Click" />
                    </div>
                    <!-- Button end -->
                                      
				</div><!-- panel body end -->
				</form>
			</div><!-- panel white end -->
		    </div><!-- col-9 end -->
		    <!-- Dashboard start -->
		     <div class="col-lg-3 col-md-6">
                            <div class="panel panel-white" style="height: 100%;">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Dashboard Details</h4>
                                    <div class="panel-control">
                                        
                                        
                                    </div>
                                </div>
                                <div class="panel-body">
                                    
                                    
                                </div>
                            </div>
                        </div>  
                        
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="live-tile flip ha" data-mode="flip" data-speed="750" data-delay="3000">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="live-tile flip ha" data-mode="flip" data-speed="750" data-delay="3000">
                                       
                                    </div>
                                </div>
                            </div>
                            
                        </div> 
		    <!-- Dashboard End -->
		    <div class="col-md-2"></div>
	
  </div><!-- col 12 end -->
  </div><!-- row end -->
 </div><!-- main-wrapper end -->


</asp:Content>

