/* Write your custom CSS here */

.txtcenter
{
    text-align: center;
}
.content_right
{
	float:right;
	display: inline-flex;
}
legend
{
	    width: 50% !important;
	    border-bottom:0px !important;
}
.mandatory
{
	color: red;
}
.form_error {
    color: #a94442;
    font-weight: bold;
    margin-top: 5px;
    float: left;
    font-size: 12px;
}